.deps/
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/doc/mdate-sh
/doc/stamp-vti
/doc/texinfo.tex
/doc/version.texi
/install-sh
/missing
/src/nana-config.h
/src/nanafilter
/test-driver
/test/gammon
Makefile
Makefile.in
/doc/nana.info
